<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TurboBudgetDbContext_xxxx" 
         connectionString="Data Source=|DataDirectory|\Turbo.Budget.SQLCE.sdf" 
         providerName="System.Data.SqlServerCe.4.0"/>
    <add name="TurboBudgetDbContext_yyyy"
         connectionString="Data Source=(LocalDB)\V11.0;AttachDbFilename=|DataDirectory|\Turbo.Budget.SQLCE.mdf;Integrated Security=True" 
         providerName="System.Data.SqlClient" />    
  </connectionStrings>
</configuration>