<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TurboBudgetDbContext" 
         connectionString="Data Source=|DataDirectory|\Turbo.Budget.SQLCE.sdf" 
         providerName="System.Data.SqlServerCe.4.0"/>
    <add name="TurboBudgetDbContext_localdb"
         connectionString="Data Source=(LocalDB)\V11.0;AttachDbFilename=|DataDirectory|\Turbo.Budget.SQLCE.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="TurboBudgetDbContext_sqlexpress"
         connectionString="Data Source=ASSET-1041\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Turbo.Budget.SQLCE.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>